:root {
  --body_background_color: #f5f5f5;
  --body_background_color_dot: rgba(83, 83, 83, 0.8);
  --body_color: black;
  --line_color: black;
}
/*   #293a4c  */
[data-theme="dark"] {
  --body_background_color: #293a4c;
  --body_background_color_white: #f5f5f5;
  --body_background_color_dot: #f5f5f5;
  --body_color: #f5f5f5;
  --line_color: #f5f5f5;
}

[data-theme="ligth"] {
  --body_background_color: #23313f;

  --body_color: #f5f5f5;
}
